<div class="container-fluid">
    <div class="row navbar navbar-inverse nav-header">
        <div class="col-md-2 nav-logo">前端乐园</div>
        <div class="col-md-1 col-md-offset-8">
            <div class="nav-mailbox">
            	<span class="nav-mailbox-img"></span>
            	<span class="nav-mailbox-text">收件箱</span>
            	<span class="nav-mailbox-count"></span>
            </div>
        </div>
        <div class="col-md-1">
            <div class="nav-user">
                <span class="nav-user-img"></span>
                <span class="nav-user-text">用户</span>
                <span class="nav-user-caret caret"></span>
            </div>
        </div>
    </div>
</div>