<div class="container-fluid h">
    <div class="row navbar navbar-inverse oa-nav-header">
        <div class="col-md-2 oa-nav-logo">前端乐园</div>
        <div class="col-md-1 col-md-offset-8">
            <div class="oa-nav-mailbox">
                <span class="oa-nav-mailbox-img"></span>
                <span class="oa-nav-mailbox-text">收件箱</span>
                <span class="oa-nav-mailbox-count"></span>
            </div>
        </div>
        <div class="col-md-1">
            <div class="oa-nav-user">
                <span class="oa-nav-user-img"></span>
                <span class="oa-nav-user-text">用户</span>
                <span class="oa-nav-user-caret caret"></span>
            </div>
        </div>
    </div>
    <ul class="nav nav-stacked oa-nav-menu-tree h">
        <li class="active">
            <a href="##">Home</a>
        </li>
        <li>
            <a href="##">CSS3</a>
        </li>
        <li>
            <a href="##">Sass</a>
        </li>
        <li>
            <a href="##">jQuery</a>
        </li>
        <li>
            <a href="##">Responsive</a>
        </li>
    </ul>
</div>